$mainColorLight: #494A67;
$mainColorDark: #37374f;
$scrolColorDark: #29293b;
$scrolColorLight: #dcddfc;
$mainColorHover: #57587a;
$LightFontColor: #FFFFFF;
$GreenFontColor: #76DC58;
$RedFontColor: #F9435E;
$InvalidColor: #a30808;
$OrangeFontColor: #F56C39;
$YellowFontColor: #F8B32A;
$GrayFontColor: #808080;
$headerHeight: 60px;
$footerHeight: 60px;
$MaxWidth: 360px;
$opacity: 0.80;
$font-family: 'Lato', sans-serif;
$mobile-breakpoint: 800px;
$MaxWidthDesktop: 720px;
$DesktopHeight: 800px;