$mainColorLight: #494A67;
$mainColorDark: #424360;
$LightFontColor: #FFFFFF;
$GreenFontColor: #76DC58;
$RedFontColor: #F9435E;
$OrangeontColor: #F56C39;
$YellowFontColor: #F8B32A;
$headerHeight: 80px;
$footerHeight: 85px;
$MaxWidth: 375px;
$font-family: 'Lato', sans-serif;
$mobile-breakpoint: 480px;