$mainColorLight: #494A67;
$mainColorDark: #37374f;
$mainColorHover: #57587a;
$LightFontColor: #FFFFFF;
$GreenFontColor: #76DC58;
$RedFontColor: #F9435E;
$OrangeontColor: #F56C39;
$YellowFontColor: #F8B32A;
$headerHeight: 70px;
$footerHeight: 70px;
$MaxWidth: 360px;
$opacity: 0.80;
$font-family: 'Lato', sans-serif;
$mobile-breakpoint: 480px;