.overlay {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
    background-attachment: fixed;
    background-position: center;
    z-index: 200;
}

.overlay-btn {
    position: absolute;
    height: 27px;
    width: 27px;
    top: 0;
    right: 0;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: $opacity;
    background-color: transparent;

    &:active {
        outline: none;
    }

    &:hover, &:focus {
        opacity: 1;
    }
}

// .add-task-main-wrap {
//     @include flex-content(column, space-between, center);
//     width: 100%;
//     min-height: 100vh;
//     position: absolute;
//     bottom: 0;
//     z-index: 300;
//     overflow: auto;
//     overflow-block: scroll;
// }

.add-task-main-wrap {
    max-width: $MaxWidthDesktop
}

.add-task-main {
    @include flex-content(column, space-between, center);
    width: 100%;
    max-height: 80vh;
    margin: auto;
}

.add-task-wrap {
    // @include flex-content(column, space-between, center);
    // padding-top: 5px;
    // padding-bottom: 25px;
    background-color: $mainColorDark;
    max-height: 80vh;
    max-width: $MaxWidthDesktop
    // overflow: auto;
    // overflow-block: scroll;
}

.add-task-header {
    max-height: 350px;
    border: none;
}

.add-task-footer {
    max-height: 350px;
    border: none;
}

.add-task-body {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $scrolColorDark;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scrolColorLight;
    }
}

.add-task-options-list {
    @include flex-content(row, space-between, center);
    width: calc(#{$MaxWidth} - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
    padding: 0;
}

.add-task-options-item {
    @include flex-content(column, space-between, center);
    width: 105px;
    min-height: 105px;
    cursor: pointer;
    background-color: $mainColorLight;
    margin-bottom: 25px;

    &:hover {
        background-color: $mainColorHover;

        .add-task-options-ico, .add-task-options-text, .task-time-wrap, .task-time {
            opacity: 1;
        }
    }
}

.add-task-main-title {
    @include font($LightFontColor, 26px, 300);
}

.add-task-title {
    @include font($LightFontColor, 18px, 300);
    margin-top: 15px;
}

.add-task-title-area {
    @include font($LightFontColor, 14px, 300);
    // overflow-inline: visible;
    overflow: hidden;
    // overflow-block: hidden;
    // overflow-inline: hidden;
    overflow-wrap: break-word;
    background-color: $mainColorHover;
    border: 0;
    border-radius: 2px;
    height: 50px;
    // width: calc(#{$MaxWidth} - 30px);
    // margin-right: 15px;
    // margin-left: 15px;
    width: 100%;
    // margin-bottom: 10px;
    opacity: $opacity;
    resize: none;

    &::placeholder {
        @include font($LightFontColor, 14px, 300);
        opacity: 0.4;
    }

    &:focus {
        @include font($LightFontColor, 14px, 300);
        background-color: $mainColorHover;
        box-shadow: 0px 0px 4px 2px rgba(220,221,252,0.75);
    }

    &:invalid {
        border: 2px, solid, red;
        box-shadow: 0px 0px 4px 4px rgba(255,0,0,1);
    }
}


.add-task-date-btn {
    @include font($LightFontColor, 14px, 300);
    background-color: $mainColorHover;
    height: 32px;
    border: none;

    &:hover {
        box-shadow: 0px 0px 4px 2px rgba(220,221,252,0.75);
    }

    &:focus {
        @include font($LightFontColor, 14px, 300);
        background-color: $mainColorHover;
        box-shadow: 0px 0px 4px 2px rgba(220,221,252,0.75);
    }
}

.add-task-text-area {
    @include font($LightFontColor, 14px, 300);
    overflow: hidden;
    overflow-wrap: break-word;
    background-color: $mainColorHover;
    border: 0;
    border-radius: 2px;
    min-height: 100px;
    // width: calc(#{$MaxWidth} - 30px);
    // margin-right: 15px;
    // margin-left: 15px;
    opacity: $opacity;
    resize: none;

    &::placeholder {
        @include font($LightFontColor, 14px, 300);
        opacity: 0.4;
    }

    &:focus {
        @include font($LightFontColor, 14px, 300);
        background-color: $mainColorHover;
        box-shadow: 0px 0px 4px 2px rgba(220,221,252,0.75);
    }

    &:invalid {
        @include invalid();
    }
}

.add-task-text-area__invalid {
    @include font($LightFontColor, 14px, 300);
    @include invalid();
    overflow: hidden;
    overflow-wrap: break-word;
    background-color: $mainColorHover;
    border: 0;
    border-radius: 2px;
    min-height: 100px;
    opacity: $opacity;
    resize: none;

    &::placeholder {
        @include font($LightFontColor, 14px, 300);
        opacity: 0.4;
    }

    &:focus {
        @include font($LightFontColor, 14px, 300);
        background-color: $mainColorHover;
        box-shadow: 0px 0px 4px 2px rgba(220,221,252,0.75);
    }
}


.add-task-title-area__invalid {
    @include font($LightFontColor, 14px, 300);
    @include invalid();
    overflow: hidden;
    overflow-wrap: break-word;
    background-color: $mainColorHover;
    border: 0;
    border-radius: 2px;
    min-height: 100px;
    opacity: $opacity;
    resize: none;

    &::placeholder {
        @include font($LightFontColor, 14px, 300);
        opacity: 0.4;
    }

    &:focus {
        @include font($LightFontColor, 14px, 300);
        background-color: $mainColorHover;
        box-shadow: 0px 0px 4px 2px rgba(220,221,252,0.75);
    }
}

.calendar-wrap {
    margin-right: auto;
    margin-left: auto;
}

.add-task-options-ico {
    @include flex-content(column, center, center);
    height: 35px;
    width: 35px;
    margin: 0;
    margin-top: 25px;
    font-size: 34px;
    opacity: $opacity;
    color: $LightFontColor;
}

.add-task-options-text {
    @include font($LightFontColor, 14px, 300);
    margin: 0;
    margin-bottom: 15px;
    opacity: $opacity;
}

.add-task-buttons {
    @include flex-content(column, space-between, center);
    width: calc(#{$MaxWidth} - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
    padding: 0;
    cursor: pointer;
}

.add-task-btn {
    @include font($LightFontColor, 16px, 300);
    height: 70px;
    width: calc(#{$MaxWidth} - 30px);
    border: 0;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    opacity: $opacity;
    background-color: transparent;

    &:active {
        outline: none;
    }

    &:hover, &:focus {
        opacity: 1;
    }

    &:first-child {
        background-color: $GreenFontColor;
    }

    &:last-child {
        background-color: $RedFontColor;
    }
}

.add-task-status-btn {
    @include font($LightFontColor, 14px, 300);
    background-color: $mainColorHover;
    height: 32px;
    border: none;
    margin-bottom: 10px;

    &:focus, &:hover {
        @include font($LightFontColor, 14px, 300);
        background-color: $mainColorHover;
        box-shadow: 0px 0px 4px 2px rgba(220,221,252,0.75);

        .status-title, .status-value, .priority-ico {
            opacity: 1;
        }
    }
}

.status-priority-ico {
    margin: 0;
    margin-right: 10px;
    font-size: 14px;
    opacity: $opacity;
    color: $RedFontColor;
}

.status-complete-ico {
    margin: 0;
    margin-right: 10px;
    font-size: 14px;
    opacity: $opacity;
    color: $GreenFontColor;
}

.status-cancel-ico {
    margin: 0;
    margin-right: 10px;
    font-size: 14px;
    opacity: $opacity;
    color: $GrayFontColor;
}

.status-title {
    @include font($LightFontColor, 14px, 300);
    margin: 0;
    margin-right: auto;
    opacity: $opacity;
}

.status-value {
    @include font($GreenFontColor, 14px, 300);
    margin: 0;
    opacity: $opacity;
}

// @media screen and (min-width: $mobile-breakpoint) {
//     .add-task-wrap {
//         width: $MaxWidthDesktop;
//         position: absolute;
//         bottom: 0;
//     }

//     .add-task-options-list {
//         width: calc(#{$MaxWidthDesktop} - 250px);
//     }
    
//     .add-task-title {
//         width: calc(#{$MaxWidthDesktop} - 60px);
//     }

//     .add-task-text {
//         width: calc(#{$MaxWidthDesktop} - 60px);
//     }

//     .add-task-buttons {
//         width: calc(#{$MaxWidthDesktop} - 60px);
//     }

//     .add-task-btn {
//         width: calc(#{$MaxWidthDesktop} - 60px);
//     }
// }
