.task-list {
    width: 100%;
    margin-top: 20px;
}

.days-list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.day-item {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.day-title-wrap {
    @include flex-content(row, space-between, center);
    width: calc(#{$MaxWidth} - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.day-title {
    @include font($GreenFontColor, 20px, 300);
    margin: 0;
    opacity: $opacity;
}

.day-add-btn {
    height: 24px;
    width: 24px;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: $opacity;
    background-color: transparent;

    &:active {
        outline: none;
    }

    &:hover, &:focus {
        opacity: 1;
    }
}

.day-add-ico {
    @include flex-content(column, center, center);
    height: 24px;
    width: 24px;
    margin: 0;
    font-size: 23px;
    color: $GreenFontColor;
}

.tasks-list {
    @include flex-content(column, space-between, center);
    width: calc(#{$MaxWidth} - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
    padding: 0;
}

.task-item {
    @include flex-content(row, space-between, center);
    width: calc(#{$MaxWidth} - 60px);
    min-height: 50px;
    cursor: pointer;
    background-color: $mainColorLight;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;

    &:hover {
        background-color: $mainColorHover;

        .task-complete-btn, .task-title, .task-time-wrap, .task-time {
            opacity: 1;
        }
    }
}

.task-title {
    @include font($LightFontColor, 18px, 300);
    margin: 0;
    opacity: $opacity;
}

.task-time-wrap {
    @include flex-content(column, center, center);
    min-width: 75px;
    min-height: 20px;

    border: 1px, solid, $GreenFontColor;
    border-radius: 10px;
    background-color: $GreenFontColor;
    opacity: $opacity;
}

.task-time {
    @include font($LightFontColor, 14px, 700);
    margin: 0;
    opacity: $opacity;
}

.task-complete-btn {
    height: 17px;
    width: 17px;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: $opacity;
    background-color: transparent;

    &:active {
        outline: none;
    }

    &:hover, &:focus {
        opacity: 1;
    }
}

.task-complete-ico {
    @include flex-content(column, center, center);
    height: 17px;
    width: 17px;
    margin: 0;
    font-size: 16px;
    color: $LightFontColor;
}


@media screen and (min-width: $mobile-breakpoint) {
    .day-title-wrap {
        width: calc(#{$MaxWidthDesktop} - 30px);
    }

    .tasks-list {
        width: calc(#{$MaxWidthDesktop} - 30px);
    }
    
    .task-item {
        width: calc(#{$MaxWidthDesktop} - 60px);
    }
}
