.header {
    background-color: $mainColorLight;
    min-height: $headerHeight;
}

.header-wrap {
    min-height: $headerHeight;
    max-width: 900px;
}

.title {
    @include font($LightFontColor, 26, 300);
    margin: 0;
    opacity: $opacity;
}

.options-list {
    margin: 0;
    padding: 0;
}

.options-item {
    margin: 0;
    padding: 0;
}


.options-btn {
    background-color: transparent !important;
    border: 0;

    &:hover, &:focus, &:active {
        background-color: transparent !important;

        .title-ico {
            opacity: 1;
        }
    }
    
    &::after {
        display: none
    }
}

.options-ico {
    font-size: 26px;
    opacity: $opacity;
    color: $LightFontColor;
}

.filters-list {
    width: 310px;
    padding: 0;
    margin: 0;
    background-color: $mainColorLight;
}

.filter-item {
    min-height: 50px;

    &:hover, &:active, &:focus {
        background-color: $mainColorHover;

        .filter-ico, .filter-setting, .filter-value {
            opacity: 1;
        }
    }
}

.filter-ico {
    font-size: 13px;
    opacity: $opacity;
    color: $GreenFontColor;
}

.filter-setting {
    @include font($LightFontColor, 14px, 300);
    margin: 0;
    opacity: $opacity;
}

.filter-value {
    @include font($GreenFontColor, 14px, 300);
    margin: 0;
    opacity: $opacity;
}
