.main-menu {
    @include flex-content(column, center, center);
    width: 100%;
}

.menu-list {
    @include flex-content(row, space-between, center);
    width: calc(#{$MaxWidth} - 45px);
    margin: 15px;
    margin-bottom: 0px;
    padding: 0;
}

.menu-item {
    @include flex-content();
    width: 150px;
    height: 180px;
    margin-bottom: 15px;
}

@media screen and (min-width: $mobile-breakpoint) {
    .menu-list {
        width: calc(#{$MaxWidthDesktop} - 45px);
    }
}

@media screen and (min-height: $DesktopHeight) {
    .menu-list {
        margin-top: 200px;
    }
}
