.menu-list {
    @include flex-content(row, space-between, center);
    width: 315px;
    margin: 15px;
    margin-bottom: 0px;
    padding: 0;
}

.menu-item {
    @include flex-content();
    width: 150px;
    height: 180px;
    margin-bottom: 15px;
}