.main {
    @include flex-content(column, start, center);
    height: calc(100vh - #{$headerHeight} - #{$footerHeight});
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: $mainColorDark;
}

.main-wrap {
    @include flex-content(column, center, center);
    width: $MaxWidth;
}
