.footer {
    min-height: $footerHeight;
    background-color: $mainColorLight;
}

.navigation {
    min-height: $footerHeight;
    max-width: $MaxWidthDesktop;
}

.nav-list {
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-item {
    min-width: 75px;
}

.nav-link {
    text-decoration: none;
    width: 75px;

    &:hover {
        .nav-ico, .nav-title {
            opacity: 1;
        }
    }
}

.nav-ico {
    margin: 0;
    margin-bottom: 5px;
    font-size: 24px;
    color: $LightFontColor;
    opacity: $opacity;
}

.nav-title {
    @include font($LightFontColor, 12px, 300);
    margin: 0;
    opacity: $opacity;
}