.main-menu {
    min-height: 100%;
}

.menu-list {
    max-width: 400px;
    margin: 0;
    margin-top: 25px;
    padding: 0;
}

.menu-item {
    margin: 0;
    margin-bottom: 15px;
    flex-shrink: 0;
}