.main {
    height: calc(100vh - #{$headerHeight} - #{$footerHeight});
    overflow: auto;
    overflow-block: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: $mainColorDark;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $scrolColorDark;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scrolColorLight;
    }
}

.test {
    background-color: red;
}

.main-wrap1 {
    @include flex-content(column, center, center);
    width: $MaxWidth;
}

@media screen and (min-width: $mobile-breakpoint) {
    .main-wrap1 {
        width: $MaxWidthDesktop;
    }
}
