.settings {
    width: 100%;
    margin-top: 20px;
}

.settings-group {
    // width: $MaxWidth;
    width: 100%;
    max-width: $MaxWidthDesktop;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}


.settings-title {
    @include font($GreenFontColor, 20px, 500);
    margin: 0;
    margin-left: 15px;
    margin-right: auto;
    opacity: $opacity;
}

.settings-list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.setting-item {
    width: 100%;
    // width: calc(#{$MaxWidth} - 60px);
    // padding-left: 15px;
    // padding-right: 15px;
    margin-bottom: 10px;
}

.setting-btn {
    background-color: $mainColorLight;
    min-height: 50px;
    width: 100%;
    border: 0;

    &:hover, &:focus, &:active {
        background-color: $mainColorLight;

        .setting-title, .setting-value, .setting-ico {
            opacity: 1;
        }
    }
}

.setting-title {
    @include font($LightFontColor, 18px, 300);
    margin: 0;
    margin-right: auto;
    opacity: $opacity;
}

.setting-value {
    @include font($GreenFontColor, 18px, 300);
    margin: 0;
    opacity: $opacity;
}

.setting-ico {
    margin: 0;
    margin-right: 10px;
    font-size: 17px;
    opacity: $opacity;
    color: $LightFontColor;
}
